<ion-header>
  <ion-toolbar>
    <h1 style = "text-align:center;justify-content:center" >Gustos del Sur</h1>
  </ion-toolbar>
</ion-header>
<ion-content class="animate__animated animated__slideInUp animate__faster">
  <ion-card>
    <ion-card-header class="color-card-header">
      <ion-card-title style="text-align:center">
        <h1 style="text-align: center; color: black; font-size: 28px; font-weight: bold">{{ data.nombre }}</h1>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content class="color-card-content">
      <img style="margin-top: 5%; border-radius: 5%;" [src]="data.imagen">
      <h1 style="text-align: center; color: black; font-size: 28px; font-weight: bold; margin-top: 5%;">
        Precio: {{ data.precio | currency: 'CLP':'symbol-narrow' }}
      </h1>

      <h1 style="text-align: center; color: black; font-size: 15px; font-weight: bold; margin-top: 5%;">
        {{ data.descripcion }}
      </h1>
      <br>

      <ion-accordion-group class="custom-accordion-group" *ngIf="cantidad == 1">
        <ion-accordion value="first">
          <ion-item slot="header">
            <ion-label style="text-align: center; color: black; font-size: 20px; font-weight: bold; margin-top: 5%;">Ingredientes extra</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content" class="accordion-content">
            <ion-grid>
              <ion-row>
                <ion-col size="6" *ngFor="let ingrediente of ingredientes" class="ingredient-col">
                  <ion-checkbox [(ngModel)]="ingrediente.seleccionado" (ionChange)="obtenerValorCheckbox(ingrediente)">
                    <div class="ingrediente-container">
                      <span class="nombre-ingrediente">{{ ingrediente.nombre }}</span>
                      <img src="{{ ingrediente.icono }}" alt="{{ ingrediente.nombre }}" class="ingrediente-icon">
                    </div>
                  </ion-checkbox>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </ion-accordion>
      </ion-accordion-group>

      <div style="display: flex; justify-content: center; margin-top: 5%;">
        <div class="botones-container">
          <ion-button *ngIf="!mostrarBotones" color="danger" (click)="restReserva()" slot="start">
            <ion-icon name="remove-circle-outline"></ion-icon>
          </ion-button>

          <ion-button class="centrado" color="success" [routerLink]="['/tabs/carrito']" (click)="addCarrito(data.id, cantidad)"
            slot="primary">
            Agregar
          </ion-button>

          <ion-button *ngIf="!mostrarBotones" (click)="addReserva()" slot="end">
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-button>
        </div>
      </div>

      <h1 style="text-align: center; color: black; font-size: 22px; font-weight: bold; margin-top: 5%;">
        Cantidad: {{ cantidad }}
      </h1>

      <h1 style="text-align: center; color: black; font-size: 22px; font-weight: bold; margin-top: 5%;">
        Total: {{ total | currency: 'CLP':'symbol-narrow' }}
      </h1>

      <div class="centrado" style="margin-top: 5%;">
        <ion-button color="tertiary" (click)="shareApp()">
          <ion-icon name="share-social-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
