.color-card-content {
  background-color: rgb(255, 255, 255);
}

.color-card-header {
  background-color:  #2d2e2d;
}

.imagen-size {
  width: 300px;
  height: 200px;
}

.centrado{
  text-align: center;
}
.carrito-container {
  display: flex;
  align-items: center;
}

.carrito-icon {
  font-size: 24px;
}

.cantidad-carrito {
  background-color: red;
  color: white;
  font-size: 12px;
  padding: 4px;
  border-radius: 50%;
  margin-left: 4px;
}
ion-toolbar {
  --background: #2d2e2d;
  --color: white;
}
ion-content {
  --background: #3d3d3d;
  --color: white;
}
ion-button {
  --background: #f79d4a;
  --color: white;
}
