.color-card-content {
  background-color: white;
}

.color-card-header {
  background-color: rgb(235, 172, 0);
}

.imagen-size {
  width: 300px;
  height: 200px;
}

.centrado{
  text-align: center;
}
